#cover {
    height: 70%;
    margin: 0;
}

.ctr {
    position: absolute;
    top: 100px;
    left: 16%;
    width: 60%;
    z-index: 2;
} 

.thumbnail {
    max-height: 300px;
}

.trail {
    margin-right: 20px;
}

.row-1, .row-2, .row-3 {
    margin-top: 30px;
    margin-left: 25px;
}


  .form-container {
      width: 35vw;
      background: rgba(255,255,255, 0.85);
      position: absolute;
      top: 300px;
      left: 32%;
  }

@media screen and (max-width: 1400px) {
    .form-container {
        width: 100vw;
        position: static;
    }
}

