/* Logo Image Style */
.ctr {
    position: absolute;
    top: 65px;
    left: 17%;
    width: 60%;
    z-index: 2;
} 

/* Form Field Container Styling */
.form-container {
    width: 35vw;
    background: rgba(255,255,255, 0.85);
    position: absolute;
    top: 30%;
    left: 32%;
    border-radius: 10px;
}

/* Trail Thumbnail/Info Styling */
.thumbnail {
    max-height: 300px;
}

.trail {
    margin-right: 20px;
}

.row-1, .row-2, .row-3 {
    margin-top: 30px;
    margin-left: 25px;
}

#trail-container {
    margin-top: 100px;
}

/* Responsive CSS*/
@media screen and (max-width: 1200px) {
    .form-container {
        top: 225px;
        width: 40vw;
        left: 30%;
    }

}

@media screen and (max-width: 1025px) {
    .form-container {
        width: 100vw;
        position: static;
    }
    #trail-container {
        margin-top: 50px;
    }
}



