#cover {
    height: 70%;
}

.form-container {
    top: -500px;
    left:25%;
    width: 50%;
    height: 500px;
    position: relative;
    min-width: 250px;
}


.ctr {
    position: absolute;
    top: 50px;
    left: 25%;
    width: 50%;
} 

.thumbnail {
    display: block;
    max-width:100%;
    max-height:250px;
    width: auto;
    height: auto;
  }


