h1 {
    font-size: 20px;
    color: #1a66a5;
    text-transform: uppercase;

}

#googlemap {
    text-align: center;
}

#map {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    position: absolute,
}

.info-container {
    position: absolute;
    top: 20px;
    left: 25%;
    width: 50%;
    border-radius: 10px;
}

 .card .card-content {
     padding: 15px;
 }

 i.right {
     margin-left: 0px;
 }

 #submit-item {
   background-color: #1a66a5;
 }

 #add-item {
   border-bottom: 1px solid #1a66a5;
   box-shadow: 0 1px 0 0 #1a66a5;
 }

 [type="checkbox"]:checked+label:before {
   border-right: 2px solid #1a66a5;
   border-bottom: 2px solid #1a66a5;
 }

 #new-search {
   background-color: #1a66a5;
   margin-top: 20px;
 }

 #main-image{
     max-height: 550px;
 }

 @media screen and (max-width: 610px) {
    .info-container {
        width: 100vw;
        left: 0px;
    }
}

 @media screen and (max-width: 610px) {
    i.right {
        margin-left: 0px;
        margin-top: -5px;
    }
}
