h1 {
    font-size: 20px;
    color: rgb(68, 205, 68);
    /* text-shadow: 3px grey; */
    text-transform: uppercase;
    /* text-decoration: underline black; */
}

#weather {
    text-align: center;
}

.container {
    /* border: 1px solid black; */
    width: 80%;
}


/* .row {
  border-bottom: 1px solid black;
} */

#googlemap {
    text-align: center;
}

#map {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    /* padding: 0px;
    float: none; */
    position: absolute,
}

#panel {
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 15%;
    float: left;
    z-index: 3;
    background: white;
    padding: 15px;
    /* border: 1px solid red; */
    opacity: 0.8;
}